* {
    box-sizing: border-box;
}

body {
    background-color:rgb(157, 242, 79);
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    min-height:600px;
    min-width:600px;
    max-width: 600px;
    max-height: 600px;
    flex-wrap: wrap;
    background-color: white;
    border:0.1px solid black;
    flex-direction: column;
    overflow: hidden;
    display: flex;    
}

.row{
    flex-direction: row;
    flex:1;
    display:flex;      
    }

.column{
    display:flex;
    flex:1;
    border:0.1px solid rgba(128, 128, 128, 0.13);
    background-color: white;
    }

header {
    display: flex;
}

button {
    padding: 10px 20px;
}

button:hover {
    background-color: lightblue;
}

header {
    display: flex;
    gap: 60px;
}

footer {
    display: flex;
    margin: 20px;
}

button {
    margin: 15px;
}  

.slide-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.color-picker-container {
    display:flex;
    align-items: center;
    gap: 10px;
}